@tailwind base;
@tailwind components;
@tailwind utilities;

/* Titles -> font-family: 'Hind', sans-serif; */
/* Texts -> font-family: 'Roboto', sans-serif; */

:root {
  --white: #fff;
  --grey-blue: #4980af;
  --grey-green: #14b7b7;
  --bright-blue: #2ed2f7;
  --light-blue: #28aeed;
  --bright-green: #15d891;
  --main-title-size: 6.4rem;
  --title-size: 2.4rem;
  --subtitle-size: 2rem;
  --text-size: 1.8rem;
  --button-size: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--grey-blue);
  font-size: var(--main-title-size);
  font-family: "Hind", sans-serif;
}

h3 {
  color: var(--white);
  font-size: var(--title-size);
}

h5 {
  color: var(--grey-blue);
  font-size: var(--subtitle-size);
}

input {
  outline: none;
}

button:focus {
  outline: none;
}

.button {
  padding: 5px 10px;
  font-size: var(--button-size);
  color: var(--white);
  border-radius: 10px;
}

.button_bright-green {
  background-color: var(--bright-green);
}

.button_light-blue {
  background-color: var(--light-blue);
}
