:root {
  --grey-blue: #4980AF;
  --grey-green: #14B7B7;
  --bright-blue: #2ED2F7;
  --light-blue: #28AEED;
  --bright-green: #15D891;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
